.Emojis > .category {
  margin: 0;
}

.Emojis > .category > .title {
  background-color: var(--bgColor);
  font-size: var(--titleSize);
  font-weight: 600;
  padding: 0.25em;
  position: sticky;
  text-transform: capitalize;
  top: 0;
  z-index: 1;
}

.Emojis > .category > .collection {
  align-items: center;
  display: grid;
  grid-column-gap: 0.2em;
  grid-row-gap: 0.5em;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(auto-fill, 1fr);
  justify-items: center;
  margin: 0.25em 0;
}
