.EmojiPicker {
  background-color: var(--bgColor);
  border-radius: var(--radius);
  border: 1px solid var(--border);
  box-sizing: border-box;
  color: var(--text);
  display: flex;
  flex-flow: column nowrap;
  font-family: var(--family);
  font-size: var(--size);
  height: 24em;
  position: relative;
  text-align: left;
  width: 25em;
}

.EmojiPicker > .head {
  box-sizing: border-box;
  flex-shrink: 0;
  width: 100%;
}

.EmojiPicker > .head > .nav {
  display: flex;
  font-size: var(--emojiSize);
  justify-content: space-between;
  padding: 0.7em;
}

.EmojiPicker > .content {
  box-sizing: border-box;
  flex: 1;
  margin-bottom: 0.7em;
  overflow-y: scroll;
  padding: 0 0.7em;
  scroll-behavior: smooth;
}
