.EmojiPicker {
  background-color: var(--bgColor);
  border-radius: var(--radius);
  border: 1px solid var(--border);
  box-sizing: border-box;
  color: var(--text);
  display: flex;
  flex-flow: column nowrap;
  font-family: var(--family);
  font-size: var(--size);
  height: 24em;
  position: relative;
  text-align: left;
  width: 25em;
}

.EmojiPicker > .head {
  box-sizing: border-box;
  flex-shrink: 0;
  width: 100%;
}

.EmojiPicker > .head > .nav {
  display: flex;
  font-size: var(--emojiSize);
  justify-content: space-between;
  padding: 0.7em;
}

.EmojiPicker > .head > .nav > .item {
  appearance: none;
  background-color: rgba(0, 0, 0, 0);
  border-radius: var(--radius);
  border: 0;
  box-sizing: border-box;
  cursor: pointer;
  font-size: var(--emojiSize);
  height: var(--emojiSize);
  line-height: var(--emojiSize);
  outline: none;
  padding: 0;
  transition: background-color 0.2s ease-in-out;
  width: var(--emojiSize);
  will-change: background-color;
}

.EmojiPicker > .content {
  box-sizing: border-box;
  flex: 1;
  margin-bottom: 0.7em;
  overflow-y: scroll;
  padding: 0 0.7em;
}
