.Emoji {
  appearance: none;
  background-color: rgba(0, 0, 0, 0);
  border-radius: var(--radius);
  border: 0;
  box-sizing: border-box;
  cursor: pointer;
  font-size: var(--emojiSize);
  height: var(--emojiSize);
  line-height: var(--emojiSize);
  outline: none;
  padding: 0;
  transition: background-color 0.2s ease-in-out;
  width: var(--emojiSize);
  will-change: background-color;
}

.Emoji:hover {
  background-color: var(--emojiHover);
}
